<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cashondelivery">
                <field id="enablefee" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Cash on Delivery Fee</label>
                    <source_model>Bootsgrid\CashOnDeliveryFee\Model\Config\Source\Enable</source_model>
                </field>
                <field id="label" translate="label" type="text" sortOrder="202" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cash on Delivery Fee Label</label>
                    <depends>
                        <field id="enablefee">1</field>
                    </depends>
                </field>
                 <field id="feetype" translate="label" type="select" sortOrder="203" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cash on Delivery Fee Type</label>
                    <source_model>Bootsgrid\CashOnDeliveryFee\Model\Config\Source\Feetype</source_model>
                </field>
                <field id="feecalc" translate="label" type="select" sortOrder="204" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Calculate Based On</label>
                    <source_model>Bootsgrid\CashOnDeliveryFee\Model\Config\Source\Calculation</source_model>
                    <depends>
                        <field id="feetype">1</field>
                    </depends>
                </field>
                <field id="fee" translate="label" type="text" sortOrder="206" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cash On Delivery Fee</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="enablefee">1</field>
                    </depends>
                </field>
                <field id="enable_zipcode" translate="label" type="select" sortOrder="207" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Postal Code Verification for Customers</label>
                    <source_model>Bootsgrid\CashOnDeliveryFee\Model\Config\Source\Enable</source_model>
                    <comment>If disabled, all postal codes are allowed.</comment>
                </field>
                <field id="address_type" translate="label" type="select" sortOrder="209" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Address Type to Validate</label>
                    <source_model>Bootsgrid\CashOnDeliveryFee\Model\Config\Source\AddressType</source_model>
                     <depends>
                        <field id="enable_zipcode">1</field>
                    </depends>
                </field>
                 <field id="zipcode" translate="label" type="textarea" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Postal Codes</label>
                    <comment>Enter comma separated list of codes you want to allow.</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable_zipcode">1</field>
                    </depends>
                </field>
                <!--  <field id="allow_shipping" translate="label" type="select" sortOrder="208" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allowed Shipping Methods </label>
                    <source_model>Bootsgrid\CashOnDelivery\Model\Config\Source\ShippingMethod</source_model>
                </field> -->
                <field id="shipping_methods" translate="label" type="multiselect" sortOrder="211" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Specific Shipping Methods</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                    <depends>
                        <field id="enable_zipcode">1</field>
                    </depends>
                    <comment>To allowed all  shipping method click the  checkbox placed at right side.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
