<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="testimonials_setting" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Testimonials Setting</label>
            <tab>rokanthemes</tab>
			<resource>Rokanthemes_Testimonials::testimonials_setting</resource>
            <group id="group_testimonial_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
				<field id="config_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Testimonial</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="config_paging" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Testimonial Paging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="config_enable">1</field>
                    </depends>
                </field>
				<field id="title_page" translate="label" type="text" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title Page : </label>
                    <depends>
                        <field id="config_enable">1</field>
                    </depends>
                </field>
				<field id="img_width" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Resize Image Width : </label>
                    <depends>
                        <field id="config_enable">1</field>
                    </depends>
                </field>
				<field id="img_height" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Resize Image Height : </label>
                    <depends>
                        <field id="config_enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
